[submodule "kcel"]
	path = kcel
	url = git@github.com:BASM/kcel.git
[submodule "firmware/lib/libavr"]
	path = firmware/lib/libavr
	url = git@github.com:BASM/libavr
[submodule "firmware/lib/libstwi"]
	path = firmware/lib/libstwi
	url = git@github.com:BASM/libtwi.git
[submodule "firmware/makefiles"]
	path = firmware/makefiles
	url = git@github.com:BASM/makefiles.git
